.sin_margen {
  margin: 0;
}

.centrar_texto {
  text-align: center;
}

.item {
  height: 200px;
  background-color: #f2f7fe;
}

.item:first-child {
  margin: 0;
}

.item .container_nombre {
  background-color: #f2f7fe;
  padding: 5px 5px;
}
.datepicker-align {
  margin-top: 5px;
}

.item .container_nombre .nombre {
  margin: 0;
  padding: 5px;
  width: calc(100% - 10px);
  height: 90%;
  resize: none;
  background-color: #f2f7fe;
  border: 0;
}

.item .container_fundamento {
  background-color: #f2f7fe;
  padding: 5px 5px;
}

.item .container_fundamento .fundamento {
  margin: 0;
  padding: 5px;
  width: calc(100% - 10px);
  height: 90%;
  resize: none;
  background-color: #fff;
}

/*
.item .categoria {
  margin: 0;
  padding: 6px 0 0 0;
  height: calc(100% - 10px);
  background-color: #ccc;
}
*/
.item .categoria .md-ink-ripple {
  left: 10px;
}

.item .categoria .md-label {
  margin-left: 25px;
  font-size: 0.9em;
}

.item .categoria {
  margin: 0;
  padding: 6px 14px;
  background-color: #f2f7fe;
  color: #6d6d6e;
}

.grupoitems_item_encabezado {

}

.grupoitems_item_encabezado{
  padding: 10px;
  margin: 0;
  background-color: #f2f7fe;
  font-weight: 500;
  color: #1c75f7;
}

.grupoitems_encabezado {
  padding: 10px;
  background-color: #f2f7fe;
  color: #1c75f7;
}

.grupoitems_encabezado .nombre {
  font-weight: 500;
  font-size: 0.85em;
}

.grupoitems_encabezado .descripcion {
  font-weight: 200;
  font-size: 0.85em;
}

.grupoitems_encabezado .md-toolbar-tools {
  height: inherit;
  max-height: inherit;
}

.contextualizacion  {
      float:left;
      min-height:100px;
      width:260px;
      overflow:auto;
    }

.md-accordion .expandCollapse { 
  width:30px;
  height:30px; 
  position:relative; 
  font-size:20px; 
  font-weight:bold; 
  cursor:pointer; 
  color:#1c75f7; 
  display:block; 
  margin-top: -2px; 
  margin-left: -2px; 
  overflow:hidden; 
}
.md-accordion .expandCollapse:active { 
  border:0px; 
}
.md-accordion .expandCollapse:before, .md-accordion .expandCollapse:after { 
  width:30px; 
  height:30px; 
  display:block; 
  position:absolute; 
  top:0; 
  left:0; 
  line-height:32px; 
  text-align:center; 
  -webkit-transition: .3s all ease-out; 
  transition: .3s all ease-out; 
}
.md-accordion .expandCollapse:before { opacity:1; -webkit-transform: rotate(0deg); transform: rotate(0deg); content: "|"; margin-top:-3px; }
.md-accordion .expandCollapse:after { opacity:1; -webkit-transform: rotate(-90deg); transform: rotate(-90deg); content: "|"; margin-left:-3px; }
.md-accordion .active:before { opacity:1; -webkit-transform: rotate(90deg); transform: rotate(90deg); margin-left:3px; margin-top:0px; }
.md-accordion .dataContent { 
  background: #F2F2F2; 
  height:0px; 
  overflow:auto; 
  -webkit-transition: .3s all ease-out; 
  transition: .3s all ease-out; 
}
.md-accordion .activeContent { height:auto; padding:20px; display:block; }
.md-accordion md-toolbar{ 
  cursor:pointer;
  border-bottom:1px;
  background-color: #cfe2fd;
  color:  #606161; 
}

/*
Css copiado de template gratis
*/
/*
Author:Vijayan PP
Template:Yomer- Coming Soon Website
*/

/*Basic Styles*/

html,body
{
height:100%;
}

body
{
font-weight:200;
font: 13px/1.5 Lato, "Century Gothic", "Trebuchet MS", Helvetica, sans-serif;
-webkit-font-smoothing:antialiased;

}
a
{
color:#89d460;
text-decoration:none;
transition:all 0.125 ease-in-out 0s;
-webkit-transition:all 0.125s ease-in-out 0s;
-moz-transition:all 0.125s ease-in-out 0s;
-ms-transition:all 0.125s ease-in-out 0s;
-o-transition:all 0.125s ease-in-out 0s;
}

ul, ol {
margin: 1em 0 2em 0;
padding: 0 0 0 20px;
}
a:hover
{
color:#89d460;
}

a
{
text-decoration:none;
color:#f77c03;
}
a:hover
{
color:#ccc;

}
.nav > .menu > .btMenu{
  display: none;
}


a,a:hover,a:focus,a:active
{
border:0;
outline:0;
text-decoration:none;
}
.ribbons{
  cursor: pointer;
  z-index: 1;
  position: fixed;
  top: 0;
  right: 1px ;
}
.ribbons .absolute{
  position: absolute;
}
.ribbons .left{
  right: 11vw ;
}
.ribbons .right{
  right: 1vw;
}
.button_down{
  position: fixed;
  bottom:0;
  left: calc(45%);
  width: 10vw;
}

.flechain{
  position: absolute;
}



.yomer-float-right
{
float:right;
}
.yomer-float-left
{
float:left;
}

.yomer-center
{
display:block;
margin-left:auto;
margin-right:auto;
}
.yomer-hide
{
display:none !important;
visibility:hidden !important;
}
.yomer-show
{
display:block !important;
}

.yomer-preloader
{
width:100%;
height:100%;
position:fixed;
left:0;
top:0;
bottom:0;
right:0;
z-index:9999;
background:#fff url('../img/preloader.gif') no-repeat center center;
}

/*Header*/

.headerSubir{
  min-height: 20vw;
  background-color: #77acfa;
}

.header
{
position:relative;
overflow:hidden;
background:url('../svg/fondo1.svg') no-repeat;
background-size: contain;
min-height:56vw;
background-color: #FFF;
z-index: 2;
}
.header2
{
position:relative;
overflow:hidden;
background:url('../svg/fondo2.svg') no-repeat;
background-size: contain;
min-height:56vw;
z-index: 1;
}
.header3
{
position:relative;
overflow:hidden;
background:url('../svg/fondo3.svg') no-repeat;
background-size: contain;
min-height:56vw;
}
.header>.container
{
height:100%;
position: relative;
top:100px;
text-align: center;
z-index: 1;
}
.logo
{
position:absolute;
top:10px;
left:5%;
display:block;
width:152px;
height:26px;
line-height:26px;
pyomering:0px;
text-indent:-9999em;
outline:none;
overflow:hidden;
z-index:3;
opacity:1;
background:url('../img/logo.png') no-repeat;
}
.menu_header
{
position:absolute;
top:34px;
right:5%;
display:inline;
z-index:2;
}
.menu_header a
{
display:inline-block;
text-decoration:none;
text-transform:uppercase;
margin-left:20px;
outline:none;
font-weight:400;
color:#fff;
float:left;
opacity:1;
}
.at-showmenu .at-showmenu-link {
display: inline-block;
padding-right: 8px;
float: left;
}
.pestanas
{
color:#fff;
min-height:300px;
height:auto;
}
.titles
{
color:#fff;
min-height:300px;
height:auto;
}
.titles h1
{
position: relative;
text-shadow: 0 1px 2px rgba(0,0,0,.5);
font-size: 5em;
font-weight: 100;
color: #fff;
cursor: default;
}
.subhead
{
position:relative;
}
.subhead p
{
text-shadow: 0 1px 2px rgba(0,0,0,.5);
font-size: 18px;
font-weight: 100;
color: #eee;
cursor: default;
}
.buttons
{
position:relative;
margin:0 auto;
width:100%;
min-width:200px;
min-height:41px;
}

.buttons form
{
display: inline-block;
margin: 0;
padding: 0;
}
.buttons button
{
-webkit-transition: all .3s ease;
-moz-transition: all .3s ease;
transition: all .3s ease;
border-radius: 3px;
margin: 0 5px;
cursor: pointer;
}

.form-submit
{

width: 200px;
height: 41px;
line-height: 51px;
outline: none;
background-repeat: no-repeat;
background-position: 0 0;
border: none;
background-size:200px 41px;
}

.buttons button:hover {
-webkit-transform: translate3d(0,-8px,0);
-moz-transform: translate3d(0,-8px,0);
-ms-transform: translate3d(0,-8px,0);
-o-transform: translate3d(0,-8px,0);
transform: translate3d(0,-8px,0);
}

.logos
{
width:100%;
padding-top:100px;
padding-bottom:80px;

}
.logos img
{
width:100%;
}
.godown
{
position: absolute;
left: 0;
right: 0;
bottom: 20px;
background: url('../img/header-downarrow.png') no-repeat center;
background-size: 50px 27px;
height: 64px;
line-height: 64px;
text-indent: -9999em;
overflow: hidden;
opacity: .5;
z-index: 1;
-webkit-transition: opacity .5s linear;
-moz-transition: opacity .5s linear;
transition: opacity .5s linear;
-webkit-transition: bounce 1s ease-in-out;
-moz-transition: bounce 1s ease-in-out;
transition: bounce 1s ease-in-out;
animation-play-state: paused;
}
.animate {
-webkit-animation-duration: 1s;
animation-duration: 1s;
-webkit-animation-fill-mode: both;
animation-fill-mode: both;
-webkit-animation-timing-function: linear;
animation-timing-function: linear;
animation-iteration-count: infinite;
-webkit-animation-iteration-count: infinite;
}

/* Tabs codeSchool*/
.panel{
  max-width: 80vw;

}
ul#horizontal-menu {
  list-style: none;
  background: url("../../static/svg/segunda_pagina/linea_tras_etiquetas.svg") no-repeat 50%;
  padding-left: 0px;
}
ul#horizontal-menu li {
    display: inline;
  }
#menu-outer {
  height: 75vh;
  background: #e4eefe;
}
.table{
  display: table;
  margin: 0 auto;
}

.horizontal-menu-image{
  width: 20vw;
}
.horizontal-menu-image.middle{
  padding-left: 10vw;
  padding-right: 10vw;
}

.test{
  background-color: #e4eefe;
  height: 0px;
  }

.padding5{
  padding: 1vw;
}

.siguiente{
  background: #e4eefe;
  height: 10vw;
  right: 0;
  position: absolute;
  display: block;
}

.fondo-flecha{
  height:20vh;
  background-color: #e4eefe;
}
.text-1{
  padding:2vw; 
  font-size:calc(5px + 1vw);
}

.clickabke{
  cursor: pointer;
}