{% extends 'base/base.html' %}
{% load staticfiles %}
{% block js %}
<script src="{% static 'js/angular/controller_scroll_page.js' %}"></script>
{% endblock %}

{% block body %}
<div id="index_wrap" class="wrap" ng-controller='ScrollPageCtrl'>
	<div id="header" class="header">
		<div id="Section1" class="ribbons">
			<a>
	          <img class="ribbons right" src="{% static '/svg/buscar_propuesta1.svg' %}" style="width: 9vw;right:21vw;position:absolute;" ng-click="getPropuesta($event)" >
	        </a>
  			<a href="./subir/">
				<img class="ribbons left" src="{% static '/svg/registrar_encuentro1.svg' %}" style="width: 9vw;">
  			</a>
  			<img class="ribbons right" src="{% static '/svg/bajar_datos.svg' %}" style="width: 9vw;" ng-click="showInfo($event)">
  		</div>
		<div id='flecha1' class="button_down" ng-class="{flechain:in1}">
			<img src="{% static 'svg/Primera_pagina/flecha_abajo.svg' %}" ng-click="toSection2(this);">
		</div>
	</div>
	<div id="Section2" class="header2">
		<div id='flecha2' class="button_down" ng-class="{flechain:in2}">
			<img src="{% static 'svg/Primera_pagina/flecha_abajo.svg' %}"
			ng-click="toSection3(this)">
		</div>
	</div>
	<div id="Section3" class="header3">
	</div>
</div>
{% endblock %}
