{% extends 'base/base.html' %}
{% load staticfiles %}

{% block js %}
<script src="{% static 'bower_components/angular-elastic/elastic.js' %}"></script>
<script src="{% static 'js/angular/controller_lista.js' %}"></script>
{% endblock %}

{% block body %}
<div ng-controller="ListaCtrl">
  <div id="top" class="headerSubir">
      <a >
        <img class="ribbons right" src="{% static '/svg/buscar_propuesta1.svg' %}" style="width: 9vw;right:21vw;position:absolute;" ng-click="getPropuesta($event)">
      </a>
      <img class="ribbons left" src="{% static '/svg/logo_reforma.svg' %}" style="width: 25vw; left:30vw;position:absolute;">
      <a href="../subir/">
      	<img class="ribbons left" src="{% static '/svg/registrar_encuentro1.svg' %}" style="width: 9vw; right:11vw;position:absolute;">
      </a>
      <img class="ribbons right" src="{% static '/svg/propuestas2.svg' %}" style="width: 9vw;right:1vw;position:absolute;">
      <a href="../">
        <img class="ribbons right" src="{% static '/svg/Inicio.svg' %}" style="width: 9vw;left:1vw;position:absolute;">
      </a>
  </div>
  <div ng-model=propuestas layout="column" style="text-align:left">
	<md-content>
		<md-list flex>
			<md-list-item class="md-3-line" ng-repeat="propuesta in propuestas" ng-click="descargarPropuesta(propuesta)">
				<div class="md-list-item-text">
					<h1>Propuesta N°{$ propuesta.pk $}</h1>
					<h2>Tipo: {$ propuesta.tipo $}</h2>
					<h3>Lugar: {$ propuesta.lugar $}</h3>
				</div>
				<div>
					<img src="{% static '/svg/tercera_pagina/icono_propuesta2.svg' %}" style="width:8vw;"/> 
				</div>		
				<md-divider ng-if="!$last"></md-divider>
			</md-list-item>
		</md-list>
	</md-content>
	</div>
  </div>
  <div layout="column" style="margin:1%;" ng-controller="ListaCtrl">
  	<div flex class="text-1">
  	Por transparencia, dejamos de forma pública y <i> anonimizada </i> las tablas de la base de datos en formato <i>.csv</i>. Para descargarlas solo entre al menú presionando <i> Bajar Datos </i> 
  	</div>
  	<div layout="row" layout-fill>
        <section layout="column" flex layout-padding layout-margin >
          <div>
            <img src="{% static '/svg/BajarDatos.svg' %}" style="cursor: pointer;" ng-click="showInfo($event)"/>
          </div>
        </section>
    </div>
  </div>
  <div class="footer-da">
    <div layout="row" class="text-1">
      <div flex align="center" style="padding:1vw;">
        <img src="{% static '/svg/logo_reforma.svg' %}" style="width:8vw;" class="footer-center" />
        <p>
          <a href="http://www.uchile.cl/discusion-reforma">
          La Chile piensa la reforma
          </a>
          <br>
          Contacto:     
          <a href="">discusionreforma@uchile.cl</a>
        </p>
      </div>
      <div flex align="center" style="padding:1vw;">
        <img src="{% static '/svg/Primera_pagina/Logo_plataforma-01Blanca.svg' %}" style="width:8vw;" class="footer-center" />
        <p>Plataforma creada por equipo de Discusión Abierta
          <br>
          para la Universidad de Chile.
        </p>  
      </div>
    </div>
</div>
{% endblock %}
