{% extends 'base/base.html' %}
{% load staticfiles %}

{% block js %}
<script src="{% static 'js/angular/controller_acta.js' %}"></script>
<script src="{% static 'bower_components/angular-elastic/elastic.js' %}"></script>
<
{% endblock %}

{% block body %}
  <div>
    <div class="headerSubir " ng-controller="ActaCtrl">
        <a >
          <img class="ribbons right" src="{% static '/svg/buscar_propuesta1.svg' %}" style="width: 9vw;right:21vw;position:absolute;" ng-click="getPropuesta($event)">
        </a>
        <img class="ribbons left" src="{% static '/svg/subir_propuesta2.svg' %}" style="width: 9vw; right:11vw;position:absolute;" ng-click="showInfo($event)">
        <a>
          <img class="ribbons right" src="{% static '/svg/propuestas1.svg' %}" style="width: 9vw;right:1vw;position:absolute; " ng-click="getPropuesta($event)">
        </a>
        <a href="../">
          <img class="ribbons right" src="{% static '/svg/Inicio.svg' %}" style="width: 9vw;left:1vw;position:absolute;">
        </a>
    </div>
  </div>
<div layout="column" layout-align="center" ng-controller="ActaCtrl" ng-cloak>
  <div layout="column" class="md-inline-form">
    <md-content>
      <md-tabs md-dynamic-height md-border-bottom md-selected="selectedTab" style="test">
        <md-tab>
          <div>
            <img src="{% static 'svg/segunda_pagina/etiqueta1_llena.svg'%}" style="height: 10vh" ng-show="isSelectedTab(0)">
            <img src="{% static 'svg/segunda_pagina/etiqueta1_media.svg'%}" style="height: 10vh" ng-hide="isSelectedTab(0)">
          </div>
        <md-tab-body>
          <md-content class="md-padding">
            <h3>Datos geográficos</h3>
            <div layout-xs="column" layout-gt-xs="row">
              <md-input-container flex>
                <label>Campus</label>
                <md-select ng-model="acta.lugar" required>
                  <md-option ng-repeat="lugar in acta.lugares" ng-value="lugar.nombre">{$ lugar.nombre $}</md-option>
                </md-select>
              </md-input-container>
              <md-input-container flex>
                <label>Tipo de encuentro</label>
                <md-select ng-model="acta.tipo" required>
                  <md-option ng-repeat="tipo in acta.tipos" ng-value="tipo.nombre">{$ tipo.nombre $}</md-option>
                </md-select>
              </md-input-container>
              <div layout="row">
                <md-input-container class="datepicker-align">
                </md-input-container>
                <md-datepicker  ng-model="acta.fechaInicio" md-placeholder="Inicio"></md-datepicker>
                <md-datepicker ng-model="acta.fin" md-placeholder="Fin"></md-datepicker>

              </div>
            </div>
            <h3>
              <span>Información de los {$ acta.participantes.length $} participantes</span>
            </h3>
            <div class="padding5">
              <div layout-xs="column" layout-gt-xs="row">
                  <md-input-container flex>
                    <label>Nombre Encargado</label>
                    <input ng-model="acta.participante_organizador.nombre" required />
                  </md-input-container>
                  <md-input-container flex>
                    <label>Apellido</label>
                    <input ng-model="acta.participante_organizador.apellido" required />
                  </md-input-container>
                  <md-input-container flex>
                    <label>RUT</label>
                    <input ng-model="acta.participante_organizador.rut" required />
                  </md-input-container>
                  <md-input-container flex>
                    <label>Email</label>
                    <input ng-model="acta.participante_organizador.email" required />
                  </md-input-container>
                  <md-input-container flex>
                    <label>Numero de cedula</label>
                    <input ng-model="acta.participante_organizador.serie_cedula" required />
                  </md-input-container>
                    <md-input-container flex>
                        <label>Estamento</label>
                        <md-select ng-model="acta.participante_organizador.ocupacion" required>
                            <md-option ng-repeat="ocupacion in acta.ocupaciones" ng-value="ocupacion.nombre">{$ ocupacion.nombre $}</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container flex>
                        <label>Organismo</label>
                        <md-select ng-model="acta.participante_organizador.origen" required>
                            <md-option ng-repeat="origen in acta.origenes" ng-value="origen.nombre">{$ origen.nombre $}</md-option>
                        </md-select>
                    </md-input-container>
              </div>
              <div layout-xs="column" layout-gt-xs="row" ng-repeat="participante in acta.participantes">
                  <md-input-container flex>
                    <label>Nombre Participante</label>
                    <input ng-model="participante.nombre" required />
                  </md-input-container>
                  <md-input-container flex>
                    <label>Apellido</label>
                    <input ng-model="participante.apellido" required />
                  </md-input-container>
                  <md-input-container flex>
                    <label>RUT</label>
                    <input ng-model="participante.rut" required />
                  </md-input-container>
                  <md-input-container flex>
                    <label>Email</label>
                    <input ng-model="participante.email" required />
                  </md-input-container>
                     <md-input-container flex>
                          <label>Estamento</label>
                          <md-select ng-model="participante.ocupacion" required>
                              <md-option ng-repeat="ocupacion in acta.ocupaciones" ng-value="ocupacion.nombre">{$ ocupacion.nombre $}</md-option>
                          </md-select>
                      </md-input-container>
                      <md-input-container flex>
                          <label>Organismo</label>
                          <md-select ng-model="participante.origen" required>
                              <md-option ng-repeat="origen in acta.origenes" ng-value="origen.nombre">{$ origen.nombre $}</md-option>
                          </md-select>
                      </md-input-container>

                  <md-input-container class="centrar_texto" flex flex-sm-xs=10>
                    <md-button class="md-fab md-mini" aria-label="Quitar participante" ng-click="quitarParticipante($index)">
                      <img src="{% static 'svg/Primera_pagina/garbage.svg' %}" style="width:30px;padding-top: 5px;">
                    </md-button>
                  </md-input-container>
              </div>
            </div>
            <div>
              Agregar Participante
              <md-button class="md-fab md-mini" aria-label="Agregar participante" ng-click="agregarParticipante()">+</md-button>
            </div>
            <div layout="column" class="md-inline-form" style="padding: 50px;float:right">
                  <img src="{% static '/svg/Continuar.svg' %} " class="md-raised md-primary" ng-click="nextTab()"/>
            </div>
          </md-content>
        </md-tab-body>
        </md-tab>
        <md-tab>
          <div>
            <img src="{% static 'svg/segunda_pagina/etiqueta2_llena.svg'%}" style="height: 10vh" ng-show="isSelectedTab(1)">
            <img src="{% static 'svg/segunda_pagina/etiqueta2_vacia.svg'%}" style="height: 10vh" ng-hide="isSelectedTab(1)">
          </div>
          <md-tab-body>
            <md-content class="md-padding">
              <h2 class="md-display-2">
              </h2>
              <md-content class="md-padding">
                <div class="md-accordion" ng-repeat="tema in acta.temas">
                  <md-toolbar class="grupoitems_encabezado" ng-init="data.expanded = false" ng-click="data.expanded = !data.expanded">
                    <div class="md-toolbar-tools">
                      <div>
                        <div class="nombre">{$ tema.titulo $}</div>
                      </div>
                        <span flex=""></span>
                        <span ng-class="{expandCollapse:true, active:data.expanded}"></span>
                    </div>
                  </md-toolbar>
                  <div ng-class="{dataContent:true, activeContent:data.expanded}">
                    <div class="md-accordion">
                      <md-toolbar ng-init="tema.expanded = false" ng-click="tema.expanded = !tema.expanded">
                        <div class="md-toolbar-tools" height="auto">
                          <div>
                          <div class="nombre">Contextualización</div>
                        </div>
                          <span flex=""></span>
                          <span ng-class="{expandCollapse:true, active:tema.expanded}"></span> 
                        </div>
                      </md-toolbar>
                      <div ng-class="{dataContent:true, activeContent:tema.expanded}">
                          <md-content flex layout-padding ng-bind-html="tema.contextualizacion | html "></md-content>    
                      </div>
                    </div>

                    <div ng-repeat="item in tema.items">
                        <div class="grupoitems_item_encabezado" layout="row">
                          <div flex="25">PREGUNTA</div>
                          <div class="centrar_texto" flex="25" ng-show="item.pregunta">RESPUESTA</div>
                          <div flex ng-show="item.pregunta">FUNDAMENTO </div>
                        </div>
                      <div class="item" layout="row" >
                        <div class="container_nombre" flex=25 ng-show="item.pregunta">
                          <textarea class="nombre" ng-model="item.pregunta" readonly></textarea>
                        </div>
                        <md-radio-group class="categoria" layout="column" ng-model="item.categoria" flex="25" ng-show="item.pregunta">
                          <md-radio-button value="2">Todos estamos de acuerdo</md-radio-button>
                          <md-radio-button value="1"> La mayoría está de acuerdo</md-radio-button>
                          <md-radio-button value="0">No hay acuerdo de mayoría</md-radio-button>
                          <md-radio-button value="-1">La mayoría está en desacuerdo</md-radio-button>
                          <md-radio-button value="-2">Todos estamos en desacuerdo</md-radio-button>
                        </md-radio-group>
                        <div class="container_fundamento" flex>
                              <textarea class="fundamento" ng-model="item.respuesta"></textarea>
                        </div>
                      </div>
                      <div class="grupoitems_item_encabezado">
                        <div flex>PROPUESTA</div>
                      </div>
                      <div class="item">
                        <div class="container_nombre">
                          <textarea class="nombre" ng-model="item.pregunta_propuesta" readonly ng-show="item.pregunta" style="height:11vh"></textarea>
                        </div>
                        <div class="container_fundamento" flex>
                          <textarea msd-elastic class="fundamento" ng-model="item.propuesta"></textarea>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
              <div>
              <md-toolbar class="grupoitems_encabezado">
                <div class="md-toolbar-tools">
                  <div>
                    <div class="nombre">Complementos</div>
                    <div class="descripcion">Puede ser completado con ideas, propuestas y visiones sobre la educación de nuestro país para las futuras generaciones.</div>
                  </div>
                </div>
              </md-toolbar>
              <div layout="row">
                <md-input-container class="md-block" flex>
                  <textarea ng-model="acta.memoria" aria-label="Memoria histórica" md-maxlength="1024" rows="6" md-select-on-focus></textarea>
                </md-input-container>
              </div>
              </div>
              </md-content>
              <div layout="row" style="float:center">
                <img src="{% static '/svg/Atras.svg' %} " class="md-raised md-primary" ng-click="prevTab()" style="padding-right: 50vw"/>
                  <img src="{% static '/svg/Continuar.svg' %} " class="md-raised md-primary" ng-click="nextTab()"/>
              </div>
            </md-content>
          </md-tab-body>
        </md-tab>
        <md-tab>
          <div>
            <img src="{% static 'svg/segunda_pagina/etiqueta3_llena.svg'%}" style="height: 10vh" ng-show="isSelectedTab(2)">
            <img src="{% static 'svg/segunda_pagina/etiqueta3_vacia.svg'%}" style="height: 10vh" ng-hide="isSelectedTab(2)">
          </div>
          <md-tab-body>  
            <md-content layout-gt-sm="column">
              <div layout="column" class="md-inline-form" style="padding: 50px;">
                  <md-content class="md-padding">
                    <h2 class="md-display-2">
                    </h2>
                    <md-content class="md-padding">
                      <div ng-repeat="tema in acta.temas">
                        <div ng-show="tema.items[0].categoria">

                            <md-content class="centrar_texto">
                              <div>{$ tema.titulo $}</div> 
                            </md-content>             
                          <div >
                          <div ng-repeat="item in tema.items">
                          <div style="margin: 5px" layout="row">
                              <div flex>FUNDAMENTO</div> <div flex>{$ categorias[item.categoria*1.0 + 2] $} </div>
                            </div>
                            <div class="item" layout="row" >  
                              <div class="container_fundamento" flex>
                                    <textarea class="fundamento" ng-model="item.respuesta" readonly></textarea>
                              </div>
                            </div>
                            <div class="grupoitems_item_encabezado" style="margin: 5px">
                              <div flex>PROPUESTA</div>
                            </div>
                            <div class="item">
                              <div class="container_fundamento" flex>
                                <textarea msd-elastic class="fundamento" ng-model="item.propuesta" readonly></textarea>
                              </div>
                            </div>
                          </div>
                          </div>
                        </div>
                      </div>
                  </md-content>
                  <div layout="row" style="float:center">
                    <img src="{% static 'svg/enviar_propuesta.svg' %}" ng-click="validarActa($event)" ng-disabled="noValidar"/>
                  </div>
                </md-content>
              </div>
            </md-content>
          </md-tab-body>
        </md-tab>
      </md-tabs>
    </md-content>
  </div>
</div>
{% endblock %}
