<md-dialog aria-label="Mango (Fruit)" ng-cloack ng-controller="ScrollPageCtrl">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Eliminar Participante</h2>
        <md-button class="md-icon-button" ng-click="cancel()">
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content style="padding:4vw">
      <div layout="row" class="text-1"> 
        ¿Estás seguro que quieres eliminar al participantes?
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button ng-click="answer('delete')">
       Eliminar
      </md-button>
        <span flex></span>
      <md-button ng-click="answer('')">
        Cancelar
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
