<md-dialog aria-label="Disclaimer" ng-cloak>
  <form>
    <md-dialog-content>
      <div class="md-dialog-content">
        <p>Muchas gracias por enviar su propuesta. 
            La información que acaba de subir a esta plataforma es fundamental para elaborar una síntesis de propuestas de la comunidad universitaria que, sumada a otras etapas del proceso, esperamos incida activamente en la tramitación del proyecto de ley, por lo que agradecemos enormemente su participación. 
            Las propuestas presentadas acá serán analizadas por el Equipo de Metodología y Análisis del Comité Institucional de Reforma de Educación Superior (CIRES), resguardando su total confidencialidad, anonimato y libertad de opinión. Así, cuidando estos principios, las respuestas generadas estarán disponibles para toda la comunidad, y serán incluidas como anexo en la síntesis elaborada a partir de ellas. 
            Una vez enviada su propuesta, no podrá volver atrás, por lo que se sugiere revisar con antelación si es lo que desea enviar. 
            ¡Muchas gracias por participar!
            </p>
        <div flex>
          <md-checkbox ng-model="aceptamos" aria-label="Checkbox aceptamos">Aceptamos las condiciones
          </md-checkbox>
        </div>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button class="md-raised md-warn" ng-click="rechazan()">Cancelar</md-button>  
      <md-button class="md-raised md-primary" ng-click="aceptan()" ng-disabled="! aceptamos">Enviar</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
