<md-dialog aria-label="Mango (Fruit)" ng-cloack ng-controller="ActaCtrl">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Bajar datos</h2>
        <md-button class="md-icon-button" ng-click="cancel()">
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
       <md-select ng-model="datito" required style="padding: 40px">
                          <md-option ng-repeat="option in options_get" ng-value="option.name">{{ option.name }}</md-option>
       </md-select>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button ng-click="answer(datito)">
       Obtener
      </md-button>
        <span flex></span>
      <md-button ng-click="answer('')">
        Cancelar
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
